<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5FK9MPG');</script>
    <!-- End Google Tag Manager -->
    <title>Latest Smart Phone Deals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="<%= asset_path('Icon-color.png') %>" type="image/png" sizes="16x16">
    <script src="https://kit.fontawesome.com/329c96c811.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Ads: 10956024809 -->
    <script async src=“https://www.googletagmanager.com/gtag/js?id=AW-10956024809”></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag(‘js’, new Date());
      gtag(‘config’, ‘AW-10956024809’);
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-235871887-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-235871887-1');
    </script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
var tmpQuery = $ || jQuery.noConflict(true);
(function($) {
	var state = {
	},
	desiredKeys = {
		utm_source: null,
		utm_medium: null,
		utm_campaign: null,
		utm_content: null,
		utm_term: null,
		gclid: null
	};
	function getCookieByName(name) {
		var cookie = " " + document.cookie;
		var search = " " + name + "=";
		var setStr = null;
		var offset = 0;
		var end = 0;
		if (cookie.length > 0) {
			offset = cookie.indexOf(search);
			if (offset != -1) {
				offset += search.length;
				end = cookie.indexOf(";", offset);
				if (end == -1) {
					end = cookie.length;
				}
				setStr = decodeURIComponent(cookie.substring(offset, end));
			}
		}
		return setStr;
        };
        function getTpar() {
        	var readCookie = getCookieByName('tPar');
        	var newObj = {};
	        if(readCookie !== null) {
	                try {
	                        newObj = JSON.parse(readCookie);
	                } catch(e) {
	                }
	        }
	        return newObj;
        }
        function updateTpar() {
        	var tPar = getTpar();
        	var tPar_str;
        	$.extend( tPar, state );
        	tPar_str = JSON.stringify(tPar);
        	omParamsStore.setItem('tPar', tPar_str, 7200*1000, '/');
        }
        function updateState(key, value) {
        	state[key] = value;
	        updateTpar();
	}
	$(document).ready(function() {
		var result = omParamsStore.findItemsByKeys(desiredKeys);
		Object.keys(result).map(function (key) {
                        var defaultValue = result[key];
                        if (defaultValue !== null) {
				updateState(key, defaultValue);
			}
                });
	});
})(tmpQuery);
</script>

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FK9MPG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <%= yield %>
    <script src="https://******/resource/global/js/params_store.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  </body>
</html>